*{
	box-sizing: border-box;
}
h1{
	font-family: Arial, san-serif;
	text-align: center;
	padding: 0;
	margin-bottom: 60px;
}

section{
	border: 2px solid black;
	margin-bottom: 10px;
	background-color: #a8afba;
	position: relative;
	overflow: auto;
	margin: 10px;
}

#KFC {
	background-color: #cf5b53;
}
#Wagyu {
	background-color: #ad322a;
	color: red;
}
#Fish {
	background-color: #e0cc84;
}

p
{
	font-family: Arial, san-serif;
	font-size: 115%;
	padding: 10px;
}

.row{
	width: 100%;
}

/*  desktop view */ 

@media (min-width: 992px) {
body{ 
	
	font-family: Arial, sans-serif;
	font-size:100%;
	margin:0px;
}

h1 
{
	text-align: center;
}

#KFC
{
	Background-color: red;
	}
#Wagyu {
	Background-color: blue;
	}

#Fish {
	Background-color: green;
	}

/* Tablet view */
@media (min-width: 768px) and (max-width: 991px)
{

body
{
	font-family:Arial, sans-serif;
	margin:0px;
}
	
h1
{
	font-size:3em;
	text-align:center;
	}
	
/*mobile view */
	
body{ 
	
	font-family: Arial, sans-serif;
	font-size:100%;
	margin:0px;
}

